<p id = "notice">
 <%= notice %>
</p>
<div class="container">
    <div class="row">
        <div class="col-xs-3">
            <%= render 'users/info', user: @user, book: @book %>
        </div>
        <div class="col-xs-9">
            <h2>Book detail</h2>
            <table class="table">

                    <tr>
                        <td>
                         <%= attachment_image_tag @user, :profile_image, :fill, 50, 50, format: 'jpeg',fallback: "no_image.jpg" %>
                         <%= link_to @user.name,user_path(@user) %>
                        </td>
                        <td>
                            <%= link_to @book_detail.title,book_path(@book_detail) %>
                        </td>
                        <td><%= @book_detail.body %></td>
                    <% if current_user == @book_detail.user %>
                        <td><%= link_to "Edit",edit_book_path(@book_detail) %></td>
                        <td><%= link_to "Destroy", book_path(@book_detail), method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
                    <% end %>
                    </tr>

            </table>
        </div>
    </div>
</div>